.sidebar {
  min-height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar-logo_container {
  padding: 0 4rem;
  min-height: 200px;
  width: 100%;
  display: grid;
  place-items: center;
}

.sidebar-logo_container > svg {
  opacity: 0.5;
}

.sidebar-quiz_info {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.sidebar-quiz_info .info-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}