.question-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    text-align: justify;
    width: 100%;
}

.question-answers {
    width: 100%;
    height: fit-content;
}