.icon {
  padding: 2px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  width: max(4%, 35px);
  height: max(4%, 35px);
  min-width: 25px;
  min-height: 25px;
  bottom: min(10%, 20px);
  right: min(5%, 20px);
  cursor: pointer;
}

.icon.active {
  background: rgba(255, 255, 255, 1);
}
.icon.active > svg, .icon.active:hover > svg {
  transform: rotate(135deg);
}

.icon > svg {
  transition: 300ms;
}

.icon:hover > svg {
  transform: rotate(90deg);
}