.taskbar-shortcut {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-height: inherit; /* placeholder */
  border: 0;
  background-color: transparent;
  position: relative;
  border-radius: 5px;
}

.taskbar-shortcut:hover {
  background: rgba(211, 211, 211, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.hovered {
  background: rgba(211, 211, 211, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.taskbar-shortcut > #icon {
  width: 100%;
  height: 100%;
}

.open-dot {
  transform: translate(-50%, -2px);
  left: 50%;
  bottom: 0;
  position: absolute;
  height: 3px;
  border-radius: 5px;
}
