.assignment-body {
  width: 100%;
  min-height: 100%;
  padding: 3rem 2rem;
}

.assignment-container {
  width: 100%;
  height: 100%;
}

.assignment-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assignment-title {
  margin: 0;
  font-size: 2rem;
}

.assignment-task {
  width: 100%;
  margin: 1rem 0;
  text-align: justify;
}

.assignment-dropzone_container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  padding: 1rem;
}
