.preview-video_container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.preview-video_container.wide {
  flex-direction: row;
}

.preview-video_controls {
  padding-top: max(25px, 2%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.preview-video_controls.mobile {
  justify-content: center;
  gap: 1rem;
  max-height: 400px;
}

.preview-player_container {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 854px;
  max-height: 480px;
}

.preview-player_container.wide {
  max-width: 640px;
  max-height: 360px;
}

.preview-video_header {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
}

.back {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  user-select: none;
}
