.main {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  display: flex;
  align-items: center;
}

.sidebar {
  min-height: inherit;
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.sidebar hr {
  width: 80%;
  background: var(--secondary);
  position: relative;
  height: 3px;
  margin: 1rem;
}

.tab {
  width: 80%;
  display: flex;
  padding: 0.5rem 1rem;
  padding-left: 0;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  margin: 0.5rem 0;
}

.tab.active {
  color: var(--secondary);
  font-weight: bold;
}

.tab.danger {
  color: red;
  font-weight: bold;
}

.tab.active::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  border-radius: 5px;
  background-color: var(--secondary);
  right: 0;
}

.tab > div {
  padding-top: 3px;
}

.name {
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.role {
  margin: 0.25rem;
  color: rgb(180, 180, 180);
  font-weight: bold;
}

.container {
  width: min(1400px, 100%);
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.main-header {
  color: white;
  margin: 0;
  margin-bottom: 1rem;
}

.assessment-list {
  min-height: inherit;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  padding: 1rem;
}

.assessment-event-card {
  padding: 1rem;
  background: white;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 3px solid var(--secondary);
}

.assessment-event-card_header {
  padding: 0;
  font-size: 1.25rem;
  margin: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.time {
  margin: 0 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.85rem;
  color: grey;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}
