.home {
  width: 100%;
}

.home--hero {
  padding: 2rem 2rem 0 2rem;

  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(
    to bottom,
    rgba(144, 118, 192, 0.25) 15%,
    rgba(255, 255, 255, 1) 100%
  );
}

.header__title {
  font-size: 5rem;
  margin: 0;
  user-select: none;
}

.header__title-bgclip {
  -webkit-background-clip: text !important;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.header__subtitle {
  margin: 1rem;
  width: 70ch;
}

.header__subtitle--text {
  font-size: 1.45rem;
  color: #425466;
  text-align: center;
}

.nav {
  position: absolute;
  background: none;

  width: 100%;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  padding: 0.5rem 1rem;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );

  font-size: 0.9rem;
  border-radius: 10rem;
  cursor: pointer;
}

.btn {
  background-color: var(--secondary);
  padding: 0.75rem 2rem;
  border-radius: 0.3rem;

  color: white;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.curve {
  aspect-ratio: 960/220;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  background-image: url("../public/home/waves.svg");
}

.curve-2 {
  aspect-ratio: 960/220;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  background-image: url("../public/home/waves2.svg");
}

.curve-3 {
  aspect-ratio: 960/220;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  background-image: url("../public/home/waves3.svg");
}

.home__section {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__section--purple {
  background-color: var(--primary);
}

.home__section--blue {
  background-color: var(--secondary);
}

.home__image {
  width: 100%;
  min-height: 334px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.home__image img {
  border-radius: 0.5rem;
}

.home__section--row {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.home__section--cards {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.section__title {
  margin: 0;
  font-size: 2.75rem;
}

.section__title--center {
  text-align: center;
}

.section--subcard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section--subcard p {
  width: 30ch;
}

.card__title {
  font-size: 1.6rem;
  margin: 0;
}

.section__content {
  font-size: 1.05rem;
  margin: 0;
  width: 50ch;
}

.section__divider {
  height: 55vh;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section__content--white {
  color: white;
}

.section__title--white {
  color: white;
}

.section--card {
  align-items: center;
  gap: 2.5rem;

  border: rgba(144, 118, 192, 0.25) solid 1px;
  box-shadow: 0px 6px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgba(144, 118, 192, 0.05) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 400px;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0.5rem;
  box-shadow: 0px 3px 15px -4px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: #15021b;
  padding: 1rem;
  color: white;

  display: flex;
  justify-content: space-between;
}

.footer-mail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-mail p {
  margin: 0;
}

.links {
  display: flex;
  gap: 1rem;
}
